@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #c0c0c0, #48d1cc, #008b8b);
    }
    section#login {
        width: 80vw;
    }
    
    section#login > div#foto {
        float: left;
            width: 30%;
            height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #c0c0c0, #48d1cc, #008b8b);
    }

    section#login {
        width: 950px;
    }
    
    section#login > div#foto {
        float: right;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }
    
    div#formulario > p {
        font-size: 1.2em;
    }
}